<div class="container content table-responsive-xl">
  <div class="row">
    <div class="col border border-success justify-content-center"
      (drop)="onDrop($event)"
      (dragover)="allowDrop($event)">
      <h5>
        Arrastre un archivo de texto.
      </h5>
    </div>
    <div class="col border border-success justify-content-center">
      <h6>Despliegue de archivo</h6>
      <ul *ngFor="let despliegue of texto">
        {{despliegue}}
      </ul>
    </div>
    <div class="col border border-success justify-content-center">
      <h6>V</h6>
      <table>
        <tr *ngFor="let variable of Variables" >
          {{variable}}
        </tr>
      </table>
    </div>
    <div class="col border border-success justify-content-center">
      <h6>T</h6>
      <table>
        <tr *ngFor="let terminal of Terminales">
          {{terminal}}
        </tr>
      </table>
    </div>
<div class="col border border-success justify-content-center">
  <table class="table table-bordered">
    <thead>
      <td>
        Variable
      </td>
      <td>
        Producción
      </td>
    </thead>
    <tbody>
      <tr *ngFor="let object of objectoVariablesProducciones">
        <td>
          {{object.variable}}
        </td>
        <td [innerHTML]="object.production">
        </td>
      </tr>
    </tbody>
  </table>
</div>
  </div>
</div>